<form ng-controller="createController">
	<div>
		<label>Titulo:</label>
		<input type="text" ng-model="survey.title">
	</div>
	<div>
		<label>Descripcion:</label>
		<textarea ng-model="survey.description"></textarea>
	</div>
	<div>	
		<label>Fecha Inicio:</label>
		<input type="date" ng-model="survey.startDate"/>
	</div>
	<div>	
		<label>Fecha Fin:</label>
		<input type="date" ng-model="survey.endDate"/>
	</div>
	<div id="preguntas">
		<div ng-repeat="q in qs track by $index">
			<label>Pregunta {{$index+1}}</label>
			<input type="hidden" value='{{survey.questions[$index].type="question"}}'>
			<input type="text" ng-model="survey.questions[$index].text"/>
		</div>
	</div>
	<div>
		<button type="button" ng-click="addQuestionField()">A&ntilde;adir Pregunta</button>
	</div>
	<div>
		<button type="button" ng-click="submit(survey)">Enviar</button>
	</div>
	{{survey}}
</form>