ul.menu_row {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu_row > li {
	float: right;
	margin: 0;
	padding: 0;
}

ul.menu_row > li > a {
	display: block;
	
	background-color: #5970b2;
	
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	margin-right: 1px;
	
	font: bold 10pt Arial;
	text-decoration: none;
	color: white;
}

ul.menu_row > li > a:hover {
	background-color: #49a3ff;
}

ul.submenu_list {
	position: absolute;
	
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.submenu_list > li {
	margin: 0;
	padding: 0;
}

ul.submenu_list > li > a {
	display: block;
	
	background-color: #aaaaaa;
	
	padding: 5px 5px 5px 5px;
	margin-bottom: 1px;
	margin-left: 7px;
	
	font: bold 8pt Arial;
	text-decoration: none;
	color: white;
}

ul.submenu_list > li > a:hover {
	background-color: #cccccc;
}
